<div class="index-page">
  <div class="form-div">
    <form method="GET" action="/artist-search">
      <div class="main-search">
        <div class="input">
          <input type="text" name="artist" placeholder="The Beatles" />
        </div>
        <div class="search-button">
          <button>Search for an Artist</button>
        </div>
      </div>
    </form>
  </div>
</div>